/* CSS Document */

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    bottom: 0px;
    background-color: #c6ecd9;
}

.ace_editor{
    width: 83.7%;
    height: 65vh;
    margin-left: 16.1%;
    /*border-radius: 18px;*/
}

.output{
    height: 27.5vh;
    margin-top: 0px;
    margin-left: 16.1%;
    width: 83.7%;
}

.result{
    background-color: #ffffff;
    resize: none;
    border: none;
    height: 24vh;
    width: 100%;
    font-size: 18px;
}

.file-list{
    margin-left: 16.1%;
}

